<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog Spot</title>
  <link rel="stylesheet" href="/css/jass.css">
</head>

<body>
  <header>
    <h1>
      Welcome to the Blog Spot
    </h1>
    {{#if logged_in}}
    <nav>
      <button class="btn logoutbtn" id="logout">logout</button>
      <a href="/dashboard">
      <button class="btn" id="dashboard">dashboard</button>
      </a>
       <a href="/">
      <button class="btn" id="home">home</button>
      </a>
    </nav>
    {{/if}}
  </header>
  <main>
    {{{ body }}}
  </main>
  <footer>
      
  </footer>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
